.iframe-chat {
  position: fixed;   
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 1000px; 
  height: 800px; 
  border: none;
}

a {
  text-decoration: none;
  color: black;
}