.iframe-chat {
  position: fixed;   
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 800px; 
  height: 800px; 
  border-radius: 25px;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #3b3a41;
}