<!DOCTYPE html>
<html>
<head>
    @vite(['resources/css/home.css'])
    @vite(['resources/css/header.css', 'resources/js/auth.js'])
</head>
<body>
    <header>
         <nav>
            <div class="logo">
                <a href="/home">NewsFeed</a>
            </div>
            <div class="select">
                <button class="header-btn" >
                    <a href="/user">Quản lý User</a>
                </button>
                <button class="header-btn" >
                    <a href="/user/block">User have been blocked</a>
                </button>
                <button class="header-btn" >Từ Cấm</button>
            </div>
            <div class="user-menu">
            {{-- user --}}
            @if(partner)
                <div id="userDiv" >
                    <p>Welcome, {{ partner.partnerName }} </span> ! 
                        <a id="logoutBtn" href="#">Logout</a>
                    </p>
                </div>
            @else
            {{-- Login --}}
                <div id="loginDiv">
                    <!-- Nút mở popup -->
                    <button class="header-btn" onclick="openLogin()">Đăng nhập</button>
                    <!-- Popup (ẩn mặc định) -->
                    <div id="loginModal" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeLogin()">&times;</span>
                            <h2>Đăng nhập</h2>
                            <form class="login-form" id="loginForm">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="input-login" type="email" id="email" required>
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input class="input-login" type="password" id="password" required>
                            </div> 
                                <button class="btn-login" type="submit">Đăng nhập</button>
                            </form>
                        </div>
                    </div>
                </div>
                {{-- Register --}}
                <div id="registerDiv">
                                    <!-- Nút mở popup -->
                    <button class="header-btn" onclick="openRegister()">Đăng ký</button>
                    <!-- Popup (ẩn mặc định) -->
                    <div id="registerModal" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeRegister()">&times;</span>
                            <h2>Đăng ký</h2>
                            <form class="login-form" id="registerForm"  method="post" action="/auth/register">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input class="input-login" type="text" id="fullName" required>
                            </div>   
                            <div class="form-group">
                                <label>Email</label>
                                <input class="input-login" type="email" id="emailR" required>
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input class="input-login" type="password" id="passwordR" required>
                            </div> 
                                <button class="btn-login" type="submit">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                </div>
                @endif
            </div>
        </nav>
    </header>

    <main>
        <iframe
        src="https://livechat.buildit.sbs/chats/embed?roomId=game123&token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjU0NiwiZnVsbE5hbWUiOiJUZXN0ZXItMiIsImVtYWlsIjoidGhhaTM5OUBleGFtcGxlLmNvbSIsImlhdCI6MTc1ODg4NDc4OX0.MXK-V79yUlVDjH6F5AGtZtJ_RLidmlj6eC0_k5aOowM"
        class="iframe-chat"
        >
        </iframe>
    </main>
</body>

</html>